name: Renovate

on:
  workflow_dispatch:
  schedule:
    # Run every Sunday at 2 AM UTC
    - cron: '0 2 * * 0'

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Self-hosted Renovate
      uses: renovatebot/github-action@v46.0.2
      with:
        token: ${{ secrets.RENOVATE_TOKEN }}
